<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get one employee</title>
    <h1>
        See employee
    </h1>
</head>
<body>
<table th:object="${employeeById}">
    <thead>
    <tr>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Birth date
        </th>
        <th>
            Wage
        </th>
        <th>
            Consider raise
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empl: ${employeeById}">
        <td th:text="${empl.firstName}">

        </td>
        <td th:text="${empl.lastName}">

        </td>
        <td th:text="${empl.birthDate}">

        </td>
        <td th:text="${empl.wage}">

        </td>
        <td th:text="${empl.considerDateOfRaise}">

        </td>
        <td>
            <form th:method="get" th:action="@{|/updateEmployee/${empl.id}|}">
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="post" th:action="@{|/deleteEmployee/${empl.id}|}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>

    </tbody>

</table>
<h3>

</h3>
<form method="get" action="/employeesHome">
    <button type="submit">Back</button>
</form>
<form method="get" action="/homePage">
    <button type="submit">Home</button>
</form>
<style>
    h1 {
        color: #00263b;
        margin-left: 400px;
    }

    h3 {
        font: icon;
    }

    body {
        background-color: #e6ffff;
    }

    button {
        margin-left: 400px;
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    /*label {*/
    /*    margin-left: 400px;*/
    /*}*/

    input {
        /*margin-left: 400px;*/
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    table {
        margin-left: 400px;
        border-spacing: 15px;

    }

</style>
</body>
</html>
