<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get one factory machine</title>
    <h1>
        See factory machine
    </h1>
</head>
<body>
<table th:object="${factoryMachineById}">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Type of machine
        </th>
        <th>
            Last maintenance
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fMachine: ${factoryMachineById}">
        <td th:text="${fMachine.id}">

        </td>
        <td th:text="${fMachine.machineType}">

        </td>
        <td th:text="${fMachine.lastMaintenance}">

        </td>
        <td>
            <form th:method="get" th:action="@{|/updateFactoryMachine/${fMachine.id}|}">
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="post" th:action="@{|/deleteFactoryMachine/${fMachine.id}|}">
                <input type = "submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h3>

</h3>
<form method="get" action="/factoryMachinesHome">
    <button type="submit">Back</button>
</form>
<form method="get" action="/homePage">
    <button type="submit">Home</button>
</form>
<style>
    h1 {
        color: #00263b;
        margin-left: 400px;
    }

    h3 {
        font: icon;
    }

    body {
        background-color: #e6ffff;
    }

    button {
        margin-left: 400px;
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    /*label {*/
    /*    margin-left: 400px;*/
    /*}*/

    input {
        /*margin-left: 400px;*/
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    table {
        margin-left: 400px;
        border-spacing: 15px;

    }

</style>
</body>
</html>
