<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Machine type by id</title>
    <h1>
        See machine type
    </h1>
</head>
<body>
<table th:object="${machineTypeById}">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Type of Machine
        </th>
        <th>
            Recurrence
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="machType: ${machineTypeById}">
        <td th:text="${machType.id}">

        </td>
        <td th:text="${machType.type}">

        </td>
        <td th:text="${machType.recurrence}">

        </td>
        <td>
            <form th:method="get" th:action="@{|/updateMachineType/${machType.id}|}">
                <input type = "submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="post" th:action="@{|/deleteMachineType/${machType.id}|}">
                <input type = "submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>

</table>
<h3>

</h3>
<form method="get" action="/machineTypesHome">
    <button type="submit">Back</button>
</form>
<form method="get" action="/homePage">
    <button type="submit">Home</button>
</form>
</body>
</html>
