<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All machine types</title>
    <h1>
        All machine types
    </h1>
</head>
<body>
<table th:object="${machineTypeList}">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Type of Machine
        </th>
        <th>
            Recurrence
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="machType: ${machineTypeList}">
        <td th:text="${machType.id}">

        </td>
        <td th:text="${machType.type}">

        </td>
        <td th:text="${machType.recurrence}">

        </td>
        <td>
            <form th:method="get" th:action="@{|/updateMachineType/${machType.id}|}">
                <input type = "submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="post" th:action="@{|/deleteMachineType/${machType.id}|}">
                <input type = "submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>

</table>
<h3>

</h3>
<form method="get" action="/machineTypesHome">
    <button type="submit">Back</button>
</form>
<form method="get" action="/homePage">
    <button type="submit">Home</button>
</form>
<style>
    h1 {
        color: #00263b;
        margin-left: 400px;
    }

    h3 {
        font: icon;
    }

    body {
        background-color: #e6ffff;
    }

    button {
        margin-left: 400px;
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    /*label {*/
    /*    margin-left: 400px;*/
    /*}*/

    input {
        /*margin-left: 400px;*/
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    table {
        margin-left: 400px;
        border-spacing: 15px;

    }

</style>
</body>
</html>
