<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timeline page</title>
    <h1>
        Timeline
    </h1>
</head>
<body>
<table th:object="${timelineList}">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th data-th-type="date">
            Deadline
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="toDo: ${timelineList}">
        <td th:text="${toDo.name}">

        </td>
        <td th:text="${toDo.date}">
      </tr>
    </tbody>
</table>
<h3>

</h3>
<form method="get" action="/homePage">
    <button type="submit">Back</button>
</form>
<style>
    h1 {
        color: #00263b;
        margin-left: 400px;
    }

    h3 {
        font: icon;
    }

    body {
        background-color: #e6ffff;
    }

    button {
        margin-left: 400px;
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    /*label {*/
    /*    margin-left: 400px;*/
    /*}*/

    input {
        /*margin-left: 400px;*/
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    table {
        margin-left: 400px;
        border-spacing: 15px;

    }

</style>
</body>
</html>
