<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vehicle by registration plate</title>
    <h1>
        See vehicle
    </h1>
</head>
<body>
<table th:object="${vehicleByRegistrationPlate}">
    <thead>
    <tr>
        <th>
            Registration plate
        </th>
        <th>
            Oil and filters
        </th>
        <th>
            Timing belt
        </th>
        <th>
            Insurance
        </th>
        <th>
            Vignette
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="veh: ${vehicleByRegistrationPlate}">
        <td th:text="${veh.registrationPlate}">

        </td>
        <td th:text="${veh.oilAndFilters}">

        </td>
        <td th:text="${veh.timingBelt}">

        </td>
        <td th:text="${veh.insurance}">

        </td>
        <td th:text="${veh.vignette}">

        </td>
        <td>
            <form th:method="get" th:action="@{|/updateVehicle/${veh.registrationPlate}|}">
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="post" th:action="@{|/deleteVehicle/${veh.registrationPlate}|}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h3>

</h3>
<form method="get" action="/vehiclesHome">
    <button type="submit">Back</button>
</form>
<form method="get" action="/homePage">
    <button type="submit">Home</button>
</form>
<style>
    h1 {
        color: #00263b;
        margin-left: 400px;
    }

    h3 {
        font: icon;
    }

    body {
        background-color: #e6ffff;
    }

    button {
        margin-left: 400px;
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    /*label {*/
    /*    margin-left: 400px;*/
    /*}*/

    input {
        /*margin-left: 400px;*/
        background-color: azure;
        width: 150px;
        height: 45px;
    }

    table {
        margin-left: 400px;
        border-spacing: 15px;

    }

</style>
</body>
</html>
